body {
  margin: 0px;
  height: 130vh;
  background: rgb(133, 201, 171);
  background: linear-gradient(
    70deg,
    rgb(190, 195, 192) 5%,
    rgb(58, 69, 64) 45%,
    rgb(190, 195, 192) 100%
  );
}

.logo {
  height: 200px;
  width: 200px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 4;
}

header li {
  position: fixed;
  opacity: 95%;
  height: 125px;
  width: 725px;
  list-style: none;
  display: flex;
  top: 0px;
  z-index: 3;
  padding-left: 700px;
  padding-top: 50px;
  margin-top: 0px;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  color: white;
  z-index: 4;
}

a {
  color: white;
  opacity: 70%;
}

div {
  margin: 20px 20px 20px 20px;
  padding: 40px 40px 20px 40px;
  height: 450px;
  width: 450px;
  background-color: rgb(39, 89, 74);
  opacity: 95%;
  border-radius: 30px;
  text-align: left;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.4em;
  font-weight: bold;
  position: relative;
  left: 700px;
  top: 20px;
  z-index: 3;
}

button {
  border-color: white;
  background-color: rgb(15, 36, 33);
  color: white;
  border-radius: 20px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  text-align: center, white;
  font-weight: bold;
}

input {
  width: 98%;
  height: 50px;
  border-radius: 10px;
}

#login {
  letter-spacing: 0px;
}

#contact-info {
  height: 450px;
  width: 450px;
  position: absolute;
  background-color: rgb(15, 36, 33);
  opacity: 80%;
  left: 200px;
  top: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: lighter;
  letter-spacing: 0px;
  line-height: 35px;
  z-index: 2;
  padding-left: 70px;
}
footer {
  position: relative;
  background-color: white;
  opacity: 95%;
  height: 190px;
  width: 1330px;
  display: flex;
  top: 100px;
  bottom: 0px;
  z-index: 1;
  padding-left: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: #85c9ab solid;
  border-width: 5px;
  border-style: ridge;
  opacity: 90%;
}

footer img {
  height: 70px;
  width: 70px;
  display: flex;
  position: relative;
  padding: 170px;
  padding-top: 60px;
  padding-bottom: 0px;
}
